body {
    text-align: center;
}

.lifes {
position :absolute;
top:0px;
left:450px;

}

.lifes img {
    width: 35px;
}

.time {
position:absolute;
top:30px;
left:650px;
}

#restart-icon{
position: absolute;
left:720px;
top: 30px;
}

.hide {
visibility: hidden;
}